gadget/Gadget
gadget/GadgetMW
gadget/GadgetMC

.ipynb_checkpoints
__pycache__

*.hdf5
*.dat
*.gsp
*.fits
nfw*.txt
*.log
core.*

*.pdf
*.mp4
*.gif
*.png
.coverage


*.err
*.out
out*/
*-usedvalues

.pytest_cache

out
out_old
out_n1
build
build_mw
build_mc

Gadget4

*.npy
*.csv
*.tar.gz

.DS_store
gr-temp

notebooks/density_fits/results
