gadget/Gadget*

gadget2_rapha/Gadget2-UVIC
*.o

.ipynb_checkpoints
__pycache__

*.hdf5
*.dat
*.gsp
*.fits
nfw*.txt
*.log
core.*

*.pdf
*.mp4
*.gif
*.png
.coverage


*.err
*.out
out*/
*-usedvalues
*_profile.toml

.pytest_cache

out
out_old
out_n1
build
build*

Gadget4

*.npy
*.csv
*.tar.gz

.DS_store
gr-temp

notebooks/density_fits/results

*backup*.jl

*.cov

*-used.toml
coverage

*.svg

*.txz
*.iso.cmd

*.ebf
*.h5
enbid_paramfile
to_enbid
to_enbid_d3n64.est
