gadget/Gadget
gadget/GadgetMW
gadget/GadgetMC

.ipynb_checkpoints
__pycache__

*.hdf5
*.dat
*.gsp
nfw*.txt
*.log

*.pdf
*.gif
*.png
.coverage


*.err
*.out
out*/
*-usedvalues

.pytest_cache

out
out_old
out_n1
build
build_mw
build_mc

Gadget4
